body {
    margin: 0;
    font-family: "Brygada 1918", sans-serif;
  }
   
.header{
    font-family: "DotGothic16", sans-serif;
    color: #D1C4E9;
    background-color: #673cbd;
    padding: 0px 40px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.nav a {
    color: #FFF;
    text-decoration: none;
  }
  
.nav a:hover {
    color:  #c5cea9;
    transform: rotate(6deg);
    display: block;
    transition: all 0.3s ease-in-out;
  }
  
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
.nav li {
    margin-left: 30px;
  }
 
.out {
    background-color: #d3c0f3;
    padding: 60px 45px;
    display: flex;
    justify-content: center;
} 
.in{
    max-width: 760px;
}
.in h1{
    font-weight: normal;
    font-size: 4rem;
    margin: 0;
}
.in p{
    color: #673cbd;
    font-family: "Sacramento", cursive;
    font-size: 2rem;
    line-height: 1.6;
}

.button {
    background-color: #641785;
    color: #FFF;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-size: 1rem;
    display: inline-block;
}

.judul-out{
    background-color: #8864cf;
    padding:  60px 45px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.judul-in h1{
    font-family: "DotGothic16", sans-serif;
    color: #f4f2f7;
    font-weight: normal;
    font-size: 1.5rem;
    margin: 0;
}

.photos img {
    width: 100%;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
}